# --- Code::Blocks ---
*.cbp
*.depend
*.layout

# --- Visual Studio ---
*.obj
*.exe

# --- Fichiers binaires / objets ---
*.o
*.so
*.dll
*.out

# --- Dossiers de build ---
bin/
obj/
build/

# --- CLION ---
CMakeLists.txt
cmake-build-debug


# --- Environnements ---
.vscode/
.idea/

# --- Système ---
.DS_Store
Thumbs.db